.Content{
    padding: 16px;
    color: #fff;
    margin-top: 20px;
    width: 90%;
    border-radius: 16px;
}

//backgroundColor: props.color, padding: 16, color: '#fff', marginTop:20, width:'30%'
.CloseBtn{
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;

    &:hover{
        color: black;
    }
}